@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.profile{
	background:url(../images/profile-cover.png) repeat-x;
	width:100%;
	height:119px;
	overflow:hidden;
	padding-top:22px;
}
.profile-det{
	width:90%;
	height:auto;
	margin:0 auto;
	margin-top:3.5%;
}
.profile-pic{
	width:50px;
	height:50px;
	background:url(../images/profile-pic.png) no-repeat;
	float:left;
}
.profile-name{
	width:155px;
	height:auto;
	font-size:1.5rem;
	float:left;
	margin-left:5%;
	line-height:2rem;
}
.aligns{
	float:right;
	margin-right:2.5%;
}
.upward{
	margin-top:-21px;
}
.taab-title{
	width:80%;
	height::auto;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size:1.7rem;
	color:#f56a6d;
	margin-top:4%;
	padding-bottom:2.5%;
}

hr{
	background:#d9d9d9;
	border: 1px solid #d9d9d9;
	
	
}

.overflow{
	overflow:hidden;
}
.task-creation{
	width:80%;
	height:auto;
	margin:0 auto;
	margin-top:3%;
	padding-bottom:7%;
}
.date-p{
	margin-top:5%;
}
.profile-det-pic{
	width:170px;
	height:170px;
	background:url(../images/profile.png) no-repeat;
	margin:0 auto;
	border-radius:90px;
}
.profile-align{
	margin: 9% 0 0 0;
	width:100%;
}
.about-cover{
	width:100%;
	height:50vh;
	background:#e05153;
	position:relative;
}
.tabschool-logo{
	width:99px;
	height:99px;
	background:url(../images/tabschool-logo.png) no-repeat;
	top:30%;
	left:35%;
	position:absolute;
	
}
.tabschool-text{
	width:110px;
	height:18px;
	background:url(../images/tabschool-text.png) no-repeat;
	top:30%;
	left:35%;
	position:absolute;
}
.top-nav{
	width:100%;
	height:22px;
	background:#e05153;
	position:fixed;
	z-index:1000;
}
.login-main{
	width:80%;
	height:auto;
	margin:0 auto;
	text-align:center;
	margin-top:15%;
}
.login-login{
	width:100%;
	height:auto;
	margin: 0 auto;
	text-align:left;
}

@media only screen and (max-width: 480px) {
	.taab-title{
	width:90%;
	height:auto;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size:1.7rem;
	color:#f56a6d;
	margin-top:9%;
	padding-bottom:2.5%;
}

.book-cover{
	width:100%;
	height:170px;
	background:#009688;
	margin:0 auto;
	float:left;
	
}
.task-creation{
	width:90%;
	height:auto;
	margin:0 auto;
	margin-top:3%;
	padding-bottom:7%;
}
.date-p{
	margin-top:5%;
}
.tabschool-logo{
	width:99px;
	height:99px;
	background:url(../images/tabschool-logo.png) no-repeat;
	top:17%;
	left:39%;
	position:absolute;
	
}
.tabschool-text{
	width:110px;
	height:18px;
	background:url(../images/tabschool-text.png) no-repeat;
	top:44%;
	left:38%;
	position:absolute;
}
}

@media only screen and (max-width: 599px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 320px) {
	.tabschool-text{
	width:110px;
	height:18px;
	background:url(../images/tabschool-text.png) no-repeat;
	top:61%;
	left:34%;
	position:absolute;
}
}

@media only screen and (min-width: 600px) {
	.taab-title{
	width:92%;
	height:auto;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size:2rem;
	color:#f56a6d;
	margin-top:5%;
	padding-bottom:1.5%;
}
.book-cover{
	width:20%;
	height:180px;
	background:#009688;
	margin:0 2% 0 0;
	padding: 0 0 0 0;
	float:left;

	
}
.task-creation{
	width:92%;
	height:auto;
	margin:0 auto;
	margin-top:3%;
	padding-bottom:7%;
}
.date-p{
	margin-top:3.7%;
}
.tabschool-logo{
	width:99px;
	height:99px;
	background:url(../images/tabschool-logo.png) no-repeat;
	top:15%;
	left:43%;
	position:absolute;
	
}
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
	.taab-title{
	width:80%;
	height:auto;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size:1.5rem;
	color:#f56a6d;
	margin-top:12%;
	padding-bottom:1.5%;
}
.book-cover{
	width:100%;
	height:170px;
	background:#009688;
	margin:0 auto;
	
}
.task-creation{
	width:80%;
	height:auto;
	margin:0 auto;
	margin-top:3%;
	padding-bottom:7%;
}
.date-p{
	margin-top:8%;
}
.tabschool-logo{
	width:99px;
	height:99px;
	background:url(../images/tabschool-logo.png) no-repeat;
	top:17%;
	left:35%;
	position:absolute;
	
}
.tabschool-text{
	display:none;
}
}

@media only screen and (min-width: 993px) {
	.taab-title{
	width:95%;
	height:auto;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size:2rem;
	color:#f56a6d;
	margin-top:4%;
	padding-bottom:1%;
}
.task-creation{
	width:95%;
	height:auto;
	margin:0 auto;
	margin-top:3%;
	padding-bottom:7%;
	
}
.date-p{
	margin-top:1.9%;
}
}